
*{
    margin: 0;
    padding: 0;
}
.nav-container, .header, .footer{
    background-color:#1F2937;
}

.nav-container {
    display: flex;
}

.logo {
    font-size:24px;
    color: #F9FAF8;;
    
}

.nav-link li a{
    font-size: 18px;
    color: #E5E7EB;  
    text-decoration: none;
    margin: auto 10px;
 
}
.nav-link {

    display: flex;
    align-items: center;
    
}

.nav-container li {
    list-style-type: none;
  
   
}
.nav-container {
    display: flex;
    justify-content: space-between;
  
}

/*  */


.header .text> h2{
font-size: 48px;
color: #F9FAF7;
font-weight: 900;
}

.header .text > p {
    font-size: 24px;
    color: #F9FAF7;
}
.header {
    padding: 100px;
    
    display: flex;
    justify-content: space-between;
    flex:1;
}

.header  img {
  
    width: 400px;
    height: 200px;
    margin: auto 20px;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius:10px;
    padding: 5px 15px;
    border-width: 0;
    margin: 20px auto;
}

/*  */
/*  */


.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.section-text  >  h2 {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.main-section .box{
   
   
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
  */
}

.box >  p {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    text-align: center;
    
}
.box  > img {
    display: flex;
    justify-content: center;
    margin:20px auto;
    width: 150px;
    height: 150px;
    border: #3882F6 solid 5px;
    border-radius: 10px;
}
/*  */
/*  */

.qoute-section {

    background-color: #E5E7EB;
    padding: 200px;
}

.qoute-section > p {
  
    color:#1F2937;
    font-style: italic;
    font-size:36px;
}

.qoute-section > p  span {
  font-weight: bold;
  text-align:end;
  margin: 450px;
}

/*  */
/*  */
.signup-section {
    padding: 200px;
}

.sign-up-text {
    background-color: #3882F6;
    margin: 50px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    border-radius: 10px;
}

.sign-up-text h3, p {
 
    color:#F9FAF8;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 60px;
}



.sign-up-text button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #F9FAF8 solid 2px;
   
}
/*  */
/*  */

.footer {
    padding: 30px;
}

.footer p {
    text-align: center;
}